* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #d4af37; /* Cor dourada, típica de decoração árabe */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 3rem;
    font-family: 'Georgia', serif;
}

header .logo p {
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
}

main {
    padding: 20px;
}

.menu {
    text-align: center;
}

.menu h2 {
    font-size: 2rem;
    color: #d4af37;
    margin-bottom: 30px;
    font-family: 'Georgia', serif;
}

.esfihas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.item h3 {
    font-size: 1.5rem;
    color: #d4af37;
    margin-bottom: 10px;
}

.item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.item span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #f7a800;
}

.item:hover {
    transform: translateY(-10px);
}

footer {
    text-align: center;
    background-color: #d4af37;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
}
